# ─── MongoDB ──────────────────────────────────────────────────────────────────
# Option A: MongoDB Atlas (Cloud) — recommended
# Replace <username>, <password>, <cluster> with your Atlas credentials
MONGO_URI=mongodb+srv://technicalsugumar:9790944440@sentimentproject.s2hg2tq.mongodb.net/?appName=SentimentProject

# Option B: Local MongoDB
# MONGO_URI=mongodb://localhost:27017/sentimentdb

# ─── Flask ────────────────────────────────────────────────────────────────────
FLASK_ENV=development
SECRET_KEY=change-this-to-a-random-secret-key
PORT=5000
